{% extends 'base.html' %}
{% block content %}
{% load static %}

              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body row">
                    <!-- <h4 class="card-title">PRODUCT INFROMATIONS</h4> -->
                    <div class="col-md-12">
                    <table class="table table-striped" id="myTable">
                      <thead>
                      <tr>
                       
                        <th> NAME </th>
                        <th> PRICE </th>
                        <th> STOCK </th>
                        <th> DESCRIPTION </th>
                        <th>  IMAGE </th>
                        <th>ACTION</th>
                      </tr>
            
                    </thead>
                    <tbody>
                      {% if pds %}
                    
                      {% for i in pds %}
                    
                      <tr>
                      
                        <td>{{i.product_name}}</td>
                        <td>{{i.product_price}}</td>
                        <td>{{i.product_stock}}</td>
                        <td>{{i.product_description|truncatechars:9}}</td>
                    
                        {% if i.product_img_1 %}
                        <td><img src="{% static i.product_img_1.url %}" style="height: 3rem;width: 3rem; margin-right: 0%;" alt=""></td>
                    
                        {% endif %}
                        <td>
                          <a href="editpro?id={{i.id}}" type="submit" class="btn btn-sm mr-3 btn-success">Edit
                          <a href="deletepro?id={{i.id}}" type="submit" class="btn btn-sm btn-danger">Delete
                        </td>
                      </tr>
                    
                      {% endfor %}
                      {% endif %}
                      </tbody>
                      </table>
                      
                      {% if pds.has_other_pages %}
                      <ul class="pagination">
                        {% if pds.has_previous %}
                        <li><a href="?page={{ pds.previous_page_number }}"><button class="border-0">Prev</button></a></li>
                        {% else %}
                        <li class="disabled"><span></span></li>
                        {% endif %}
                        {% for i in pds.paginator.page_range %}
                        {% if users.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if pds.has_next %}
                        <li><a href="?page={{ pds.next_page_number }}"><button class="border -0">Next</button></a></li>
                        {% else %}
                        <li class="disabled"><span></span></li>
                        {% endif %}
                      </ul>
                      {% endif %}
                      </div>
                      </div>
                      </div>
                      </div>

            {% endblock content %}